<p-toast />
<div class="main">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <nav class="site-nav">
        <div class="container">
            <div class="site-navigation">
                <a href="index.html" class="logo m-0">Tour <span class="text-primary">.</span></a>

                <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
                    <li><a href="contact.html">Supports</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="hero mb-0">
        <div class="row align-items-center">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="intro-wrap">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header py-4 text-center bg-primary">
                                    <a href="index.html">
                                        <span><img src="https://coderthemes.com/hyper/saas/assets/images/logo.png"
                                                alt="logo" height="22"></span>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="loginForm" (ngSubmit)="submit()">
                                        <div class="mb-3">
                                            <label for="emailaddress" class="form-label">User Name</label>
                                            <input class="form-control" type="email" id="emailaddress"
                                                formControlName="userName" required="" placeholder="Enter User Name">
                                            <div class="errorMessage text-danger mt-2">
                                                <span class="termsStyle"
                                                    *ngIf="loginForm.get('userName')?.touched && loginForm.get('userName')?.hasError('required') && loginForm.get('userName')?.value === ''"
                                                    class="mt-2 text-danger">
                                                    User Name is Required
                                                </span>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Password</label>
                                            <div class="input-group input-group-merge">
                                                <input type="password" id="password" class="form-control"
                                                    formControlName="password" placeholder="Enter your password">
                                            </div>
                                            <div class="errorMessage text-danger mt-2">
                                                <span class="termsStyle"
                                                    *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required') && loginForm.get('password')?.value === ''"
                                                    class="mt-2 text-danger">
                                                    User Name is Required
                                                </span>
                                            </div>
                                        </div>

                                        <div class="mb-3 mb-3">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="checkbox-signin"
                                                    disabled checked="">
                                                <label class="form-check-label" for="checkbox-signin">Remember
                                                    me</label>
                                            </div>
                                        </div>

                                        <div class="mb-3 mb-0 text-center">
                                            <button class="btn btn-primary w-100" type="submit"> Log In </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
            <!-- <div class="col-lg-5">
                <div class="slides">
                    <img src="/assets/images/hero-slider-1.jpg" alt="Image" class="img-fluid active">
                    <img src="/assets/images/hero-slider-2.jpg" alt="Image" class="img-fluid">
                    <img src="/assets/images/hero-slider-3.jpg" alt="Image" class="img-fluid">
                    <img src="/assets/images/hero-slider-4.jpg" alt="Image" class="img-fluid">
                    <img src="/assets/images/hero-slider-5.jpg" alt="Image" class="img-fluid">
                </div>
            </div> -->
        </div>
    </div>
</div>
<p-toast></p-toast>